* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  position: relative;
}

/* .circle {
  background-color: crimson;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  margin: 200px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-weight: bold;

  animation-name: circle;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(0, 1.46, 0.74, -0.25);
  animation-fill-mode: backwards;
  animation-direction: alternate;
  animation-play-state: running;
  animation-iteration-count: 10;
}
.circle:hover {
  
}

@keyframes circle {
  0% {
    background-color: crimson;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    margin: 200px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
  }
  25% {
    background-image: url("http://picsum.photos/id/322/900/700");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 40%;
    width: 25vw;
    height: 25vh;
    position: relative;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    transform: rotate(90deg);
  }
  50% {
    background-image: url("http://picsum.photos/id/320/900/700");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 30%;
    width: 50vw;
    height: 50vh;
    position: relative;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    transform: rotate(90deg);
  }
  75% {
    background-image: url("http://picsum.photos/id/320/900/700");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20%;
    width: 75vw;
    height: 75vh;
    position: relative;
    margin: 25px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    transform: rotate(90deg);
  }
  100% {
    background-image: url("http://picsum.photos/id/320/900/700");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 0%;
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    transform: rotate(90deg);
  }
} */

.car {
  position: absolute;
  width: 150px;
  animation-name: car;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-timing-function: linear;
  filter: drop-shadow(200px 10px 15px yellow);
  background-position-x: left;
  animation-iteration-count: 30;
}

.text {
  text-align: center;
  margin: 400px;
  display: none;
  animation-name: txt;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

@keyframes car {
  0% {
    position: absolute;
    width: 150px;
    left: 50px;
  }
  10% {
    position: absolute;
    width: 150px;
    left: 700px;
    transform: rotate(0deg);
  }
  13% {
    position: absolute;
    width: 150px;
    left: 700px;
    transform: rotate(90deg);
  }
  16% {
    position: absolute;
    width: 150px;
    left: 700px;
    top: 0px;
    transform: rotate(90deg);
  }
  20% {
    position: absolute;
    width: 150px;
    left: 700px;
    top: 300px;
    transform: rotate(90deg);
  }
  24% {
    position: absolute;
    width: 150px;
    left: 700px;
    top: 300px;
    transform: rotate(0deg);
  }
  40% {
    position: absolute;
    width: 150px;
    left: 1500px;
    top: 300px;
    transform: rotate(0deg);
  }
  44% {
    position: absolute;
    width: 150px;
    left: 1500px;
    top: 300px;
    transform: rotate(90deg);
  }
  60% {
    position: absolute;
    width: 150px;
    left: 1500px;
    top: 700px;
    transform: rotate(90deg);
  }
  64% {
    position: absolute;
    width: 150px;
    left: 1500px;
    top: 700px;
    transform: rotate(180deg);
  }
  76% {
    position: absolute;
    width: 150px;
    left: 50px;
    top: 700px;
    transform: rotate(180deg);
  }
  80% {
    position: absolute;
    width: 150px;
    left: 50px;
    top: 700px;
    transform: rotate(270deg);
  }
  100% {
    position: absolute;
    width: 150px;
    left: 50px;
    top: 50px;
    transform: rotate(270deg);
  }
}

@keyframes txt {
  0% {
    text-align: center;
    margin: 400px;
    display: none;
  }
  100% {
    text-align: center;
    margin: 400px;
    display: block;
  }
}
