@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&family=Source+Serif+Pro:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Poppins;
  font-style: regular;
  list-style-type: none;
}
.container {
  position: relative;
  /* background-color: lightblue; */
  margin: 30px auto;
  display: block;
  text-align: center;
  width: 1230px;
  min-width: 600px;
}
.back {
  position: absolute;
  width: 72%;
  height: 649px;
  left: -4.6px;
  top: -8.5px;

  background: linear-gradient(
    90deg,
    #ee5514 1.52%,
    rgba(238, 85, 20, 0) 134.27%
  );
  opacity: 0.1;
  clip-path: polygon(0 0, 100% 1%, 81% 100%, 0% 100%);
}
/* header started */
.nav {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  min-width: 50px;
  width: 330px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  transform: translateX(-180px);
}
.nav__list--item-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1a0a03;
  opacity: 0.7;
}
.nav__list--item-link:hover {
  color: #b7b4b2;
}
.nav__list--item-link:active {
  color: #ee5514;
}
.active {
  opacity: 1;
  color: #ee5514;
}

.nav__btn {
  cursor: pointer;
  width: 137px;
  height: 59px;
  left: 1233px;
  top: 40px;
  border: 0;
  background: #ee5514;
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  outline: 0;
}

.nav__btn:hover {
  background-color: #f1723c;
}

/* header finished */
/* main started */
.bigpost {
  margin-bottom: 60px;
}
.bigpost__list---item--item-image {
  width: 600px;
  height: 400px;
}
.bigpost__list {
  height: 600px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80% 20%;
  align-items: center;
}
.bigpost__list---item {
  width: 100%;
  left: 230px;
  top: 205px;
  text-align: left;
}
.bigpost__list---item--text1 {
  width: 366px;
  height: 216px;
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 61px;
  line-height: 120%;
  color: #1a0a03;
}
.shoes {
  color: #ee5514;
}
.bigpost__list---item--text2 {
  width: 326px;
  height: 52px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1a0a03;
  opacity: 0.7;
}
.bigpost__list---item--item {
  position: relative;
}
.tochka {
  position: absolute;
  top: 10px;
  left: 125px;
}
.bigpost__list---item--item-image {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.ramka {
  left: 115px;
  position: absolute;
  display: inline-block;
  width: 394px;
  height: 400px;
  opacity: 0.4;
  border: 11px solid #ee5514;
  top: 0;
}
.vektor {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 48%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #ee55143e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vektor__img {
  position: relative;
  z-index: 2;
}

.selection {
  display: flex;
  width: 850px;
  height: 125px;
  background: #ffffff;
  box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.05);
  border-radius: 5px;
  align-items: center;
  justify-content: space-evenly;
}
.selection__items--name {
  display: block;
}
.selection__items {
  border-right: 1px solid #ee5514;
  padding-right: 30px;
}
.selection__items:nth-child(4) {
  border-right: none;
  padding-right: 0px;
}
.selection__items:nth-child(5) {
  border-right: none;
  padding-right: 0px;
}
select {
  border: none;
  background: transparent;
  outline: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */

  /* Black */

  color: #1a0a03;
}
.selection__items--name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */

  /* Black */

  color: #1a0a03;

  opacity: 0.7;
}

/* main finished */
