.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    overflow: hidden;
    padding: 0px 40px;
  }
}
@media only screen and (max-width: 375px) {
  .container {
    max-width: 375px;
    overflow: hidden;
  }
}
