.nav {
  max-width: 305px;
  width: 100%;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    &--item {
      &-link {
        text-decoration: none;
        color: $text-color;

        &:active {
          color: $active;
        }
      }
      .active {
        color: $active;
      }
    }
  }
}

